table.start-stop {
    font-size: var(--s-1);
}

table.start-stop tr :first-child {
    text-align: right;
    text-transform: uppercase;
    font-size: var(--s-1);
}

table.start-stop tr :last-child {
    padding-left: 2em;
    padding-right: 2em;
}
