.distribute > * {
  display: flex;
  flex-wrap: wrap;
}

.distribute-element {
  margin-top: auto;
  margin-bottom: auto;
}

.distribute-element.center {
  align-self: center;
}

.distribute-element.grow {
  flex-grow: 1;
}
