.login-form label {
  font-weight: bold;
}

.login-form label,
.login-form label small {
  display: block;
}

.login-form label small {
  font-weight: normal;
  font-style: italic;
}

.login-form input,
.login-form textarea,
.checkmark {
  box-shadow: inset 0.2rem 0.2rem 0 #ddd;
}

.login-form [type='text'],
.login-form [type='email'],
.login-form textarea,
.checkmark {
  width: 100%;
  font-size: inherit;
  border-width: var(--border-thin);
  padding: var(--s-1);
}

.login-form input:focus,
.login-form textarea:focus {
  outline-offset: 0;
}

.login-form > * + * {
  margin-top: var(--s0);
}

.field label + * {
  margin-top: var(--s-3);
}

.invalid, .invalid:active {
  background-color: var(--color-lightish);
  color: var(--color-mid);
  box-shadow: none;
  transform: none;
}

.login-form input:disabled,
.login-form textarea:disabled {
  color: var(--color-mid);
}
