:root {
  --font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-special: Helvetica, sans-serif;
  --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;
  --color-dark: #050505;
  --color-darkish: #404040;
  --color-lightish: #e6e6e6;
  --color-light: #fafafa;
  --color-mid: grey;
  --ratio: 1.5;
  --s-5: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-4: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --s5: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --measure: 65ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8 * var(--ratio));
  --border-thin: var(--s-5);
  --border-thinish: var(--s-4);
  --border-thick: var(--s-2);
}

:root {
  line-height: var(--ratio);
  font-size: calc(.333vw + 1em);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark)
}

*, :after, :before {
  box-sizing: border-box;
  background-color: inherit;
  font: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid
}

button {
  background-color: white;
  border-color: var(--color-mid);
  border-width: var(--border-thin);
  cursor: pointer;
  padding: calc(var(--s-3) - 1px) var(--s-1);
  box-shadow: 4px 4px 0 #ddd;
}

button:active {
  box-shadow: none;
  transform: translateY(4px);
}

code {
  font-family: var(--font-mono);
}

img {
  width: 100%
}

[hidden] {
  display: none
}

[hidden] + * {
  margin-top: 0 !important
}

/* Typography */

h1,
h2,
h3,
h4 {
  line-height: var(--line-height-small);
  font-family: var(--font-special);
  font-weight: 700;
  hyphens: auto;
}

h1, .h1 {
  font-size: var(--s4);
}

h2, .h2 {
  font-size: var(--s3);
}

h3, .h3 {
  font-size: var(--s2);
}

h4, .h4 {
  font-size: var(--s1);
}

ol, ul {
  padding-left: 2em;
}

main p + p {
  margin-top: var(--s-1);
}

hr {
  padding: var(--border-thin) 0 0;
  border-width: var(--border-thin) 0;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}
